name: dat640
channels:
  - conda-forge
dependencies:
  - python=3.9
  - pytest
  - ipykernel
  - numpy
  - pandas
  - scikit-learn
  - nltk
  - sqlitedict
  - jupyter
  - matplotlib
prefix: /Users/mares/miniforge3/envs/dat640
